.sidebarMenu{
    position: absolute;
    width:400px;
    left:-400px;
    height: 100%;
    background-color: white;
    top:100px;
    transition: all 1s;
    overflow: scroll;
}

.expandIcon{
    position: absolute;
    //top:110px;
    color: black;
    left: 0px;
    z-index: 5;
    font-size: 35px;
    display: none;
    a{
        color: black;
    }
}

@media only screen and (max-width:400px){
    .sidebarMenu.show{
        width: 100%
    }
}


.expandIcon.show{
    display: block;
    color: black;
}

.sidebarMenu.show{
        box-shadow: 2px 2px 2px 2px lightgray;
    left:0;
    .expandIcon{
        display: none
    }
}

